# включение перенаправления
RewriteEngine On

#не применять к существующим файлам
RewriteCond %{REQUEST_FILENAME} !-f

#не применять к существующим директориям
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule .* index.php [L]